.container {
  margin: 0;
  position: relative;
  top: 100px;
  display: inline-flex;
  flex-wrap: wrap;
  align-content: center;
  width: 100%;
}

.card {
  margin: auto;
  margin-left: 20px;
  margin-bottom: 20px;
}

.botones {
  display: flex;
  height: 50px;
  justify-content: space-around;
  align-items: center;
}
.card-img-top {
  object-fit: contain;
  width: 90%;
  height: 150px;
}

.card-title {
  font-size: 15px;
}
